.contact-wrapper {
    text-align: center;
    padding: 80px 20px;
}

.contact-heading {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
    margin-top: 30px;
}

.contact-box {
    display: flex;
    justify-content: center;
    padding: 40px;
    border: 2px solid #ddd;
    border-radius: 12px;
    background-color: #4f6cb0;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 157px;
    margin-top: 70px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contactleft {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    margin: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.contact-icon {
    font-size: 24px;
    color: #007bff;
    margin-right: 5px;
}

.contact-info {
    display: flex;
    align-items: center; 
}

.contact-info h2 {
    margin-right: 10px; 
    margin: 0; 
}

.contact-info p,
.contact-item a {
    font-size: 16px;
    color: #333;
    margin: 0; 
}

.contact-item a {
    color: #007bff;
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .contact-box {
        flex-direction: column; 
        padding: 10px; 
    }

    .contactleft {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        width: 100%; 
        margin: 20px 0; 
    }

    .contact-item {
        width: 100%; 
        max-width: 400px; 
        margin: 10px 0; 
    }

    .contact-item a {
        font-size: 13px;
    }
}
